//Mixin for size properties
@mixin sizes($primary-width, $primary-height) {
  width: $primary-width;
  height: $primary-height;
}

// Mixin for box properties
@mixin box-styles($box-shadow, $border) {
  box-shadow: $box-shadow;
  border: $border;
}


// Mixin for input properties
@mixin input-styles($box-shadow, $primary-width, $input-bg-color, $border) {
  box-shadow: $box-shadow;
  width: $primary-width;
  background-color: $input-bg-color;
  border: $border;
}

@mixin input-styles1($box-shadow, $input-bg-color, $border) {
  box-shadow: $box-shadow;
  background-color: $input-bg-color;
  border: $border;
}

//Mixin for article prperties
@mixin Display-style() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}