// Colors
$page-color: #fff;
$theme-color: #333;
$primary-color: rgb(14, 14, 100);
$secondary-color: transparent;
$input-bg-color: rgba(255, 255, 255, 0.9);

// Fonts
$body-font:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

//text properties
$primary-font-weight: bold;
$secondary-font-weight: bolder;


//border
$button-radius: 4px;
$border1: 1px solid;
$border: 1px solid transparent;
$border-radius: 10px;

//box shawdow
$box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.08);

//transform
$transform: translate(-50%, -50%);

// Sizes
$primary-width: 100%;
$primary-height: 100%;
$input-height: 30px;
$select-height: 35px;
$button-height: 30px;