li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.Main_section {
    position: relative;
}


.Main_content {
    font-family: $body-font;
    margin-top: 300px;
    text-align: center;
}

@media screen and (max-width: 550px){
    .Main_content {
        margin-top: 100px;
    }
}